/*====================================
=            Login Footer            =
====================================*/

#loginFooter {
	padding-top: 15px;
	padding-bottom: 15px;
	border-top:1px solid #f4f4f4;
	opacity:0.5;
	color:#fff;
	text-align: center;
	margin-top: 150px;
		a {
			color:#3cb878;
				&:hover {
					opacity: 1!important;
					text-decoration: underline;
				}
		}
		img {
			@extend .fading;
				&:hover {
					opacity:$opaque;
				}
		}
}

/*-----  End of Login Footer  ------*/

/*===================================
=            Page Footer            =
===================================*/

#pageFooter {
	text-align: center;
	padding-top: 20px;
	color:#fff;
	font-family:$nova-regular;
		a {
			color:#fff;
			font-family: $nova-bold;
				&:hover {
					text-decoration: underline;
				}
		}
}

/*-----  End of Page Footer  ------*/


/*======================================
=            Content Footer            =
======================================*/

#contentFooter {
	.pagination {
		@include breakpoint(tablet-port) {
			text-align: center;
		
		}
	}
		#exportControls {
			text-align: right;
			margin-top: 20px;
			@include breakpoint(phone) {
				text-align: center;
			}
			@include breakpoint(tablet-port) {
				text-align: center;
			}
			a {
				display: inline-block;
				padding-left: 20px;
				padding-right: 20px;
				padding-top: 11px;
				padding-bottom: 11px;
				@extend .uppercase;
				font-size: 12px;
				font-family: $nova-bold;
				color:#fff;
				margin-left: 5px;
					&:hover {
						opacity: $opaque;
					}
					@include breakpoint(phone) {
						width: 100%;
						margin-bottom: 5px;
					}
			}			
		}

	.printBtn {
		background: #3fa3f9;
		color:#fff;
	}
	.exportPdf {
		background: #aa0607;
	}
	.exportXLS {
		background: #08a324;
	}
}

/*-----  End of Content Footer  ------*/


