/*====================================
=            Login Header            =
====================================*/

#loginWrapper {
	background: url(../img/bg/loginBg.jpg);
	background-position: center top;
	background-repeat:no-repeat;
	background-size:cover;
	min-height:980px;
	padding-top: 20px;
		.loginDate {
			text-align: left;
			@include breakpoint(phone) {
				text-align: center;
			}
			small {
				color:$color-white;
				font-size: 14px;
				background: url(../img/ico/time.png);
				background-repeat:no-repeat;
				padding-left: 25px;
				text-shadow: 1px 1px 1px #15202d;
				font-family: $nova-regular;
				padding-top: 1px;
					strong {
						font-family: $nova-bold;
					}
			}
		}
		.loginBack {
			text-align: right;
			@include breakpoint(phone) {
				text-align: center;
				padding-top: 10px;
			}
				a {
					color:$color-white;
					font-size: 14px;
					@extend .fading;
					text-shadow: 1px 1px 1px #15202d;
					background: url(../img/ico/back.png);
					background-repeat:no-repeat;
					padding-left: 25px;
					font-family: $nova-bold;
						&:hover {
							opacity: $opaque;
						}
				}
		}
		.loginAvatar {
			text-align: center;
			padding-top: 80px;
			img {
				margin: 0 auto;
				border-radius:180px;
			}
		}
}

/*-----  End of Login Header  ------*/

