/*=======================================
=            Bootstrap Reset            =
=======================================*/

ul {
	list-style:none;
	padding: 0px;
	margin: 0px;
}

/*-----  End of Bootstrap Reset  ------*/

a:hover {
	text-decoration:none;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0ex;
	margin: 0px;
}