/*==============================
=            Colors            =
==============================*/

$black: #000;
$white: #fff;
$main-color:#3096b8;
$sec-color:#a44138;

/*-----  End of Colors  ------*/

/*==============================
=            Extend            =
==============================*/

.uppercase {
	text-transform:uppercase;
}


/*-----  End of Extend  ------*/

/*=============================
=            Sizes            =
=============================*/

$base-size: 12px;

/*-----  End of Sizes  ------*/

/*=============================
=            Fonts            =
=============================*/

$semi-font: 'proxima_nova_rgregular';
$rale-regular: 'ralewayregular';
$bold-font: 'proxima_nova_rgbold';

/*-----  End of Fonts  ------*/

/*===============================
=            Effects            =
===============================*/

$opaque: 0.7;

/*-----  End of Effects  ------*/






