/*==============================
=            Footer            =
==============================*/

#pageFooter {
	background: #000;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	color:$white;
	background: url(../img/bg/footer.png);
	margin-top: 20px;
		small {
			opacity:0.7;
			font-family:$rale-regular;
				span {
					color:#658eb9;
				}
				img {
					margin-left: 5px;
					position:relative;
					top:-1px;
					@extend .fading;
					opacity:1;
						&:hover {
							opacity:0.5;
						}
				}
		}
}

/*-----  End of Footer  ------*/

.modal-backdrop {
	background: #000!important;
}

#myModalLabel {
	font-family:$semi-font;
}

.modal-body {
	font-family:$rale-regular;
}
