/*=====================================
=            Paage Wrapper            =
=====================================*/

body {
	background: url(../img/bg/pageBg.jpg);
	background-position: center top;

		@include breakpoint(phone) {
			background-size:cover;
		}
		@include breakpoint(tablet-port) {
			background-size:auto;
		}
}

/*-----  End of Paage Wrapper  ------*/

/*===============================
=            Welcome            =
===============================*/

#welcome {
	.col-md-5 {
		padding: 0px;
		@include breakpoint(phone) {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}

/*-----  End of Welcome  ------*/



/*====================================
=            Left Content            =
====================================*/

#leftContent {
	min-height:375px;
	background: $main-color;
	padding: 40px;
		h1 {
			color:$white;
			margin-bottom: 10px;
			font-size: 50px;
			text-transform:uppercase;
			font-family: 'latobold';
			line-height:50px;
				span {
					font-family: 'latothin';
				}
				@include breakpoint(tablet-port) {
					font-size: 38px;
				}
				@include breakpoint(laptop) {
					font-size: 40px;
					line-height:40px;
				}
				@include breakpoint(phone-land) {
					font-size: 40px;
					line-height:40px;
				}
				@include breakpoint(phone-port) {
					font-size: 28px;
					line-height:30px;
				}
		}
		h2 {
			margin-bottom: 15px;
			font-size: 22px;
			color:$white;
			opacity:0.5;
			font-family:$bold-font;
			@include breakpoint(phone-port) {
				font-size: 18px;
			}
		}
		p {
			line-height:26px;
			font-size: 16px;
			color:$white;
			font-family:$rale-regular;
		}
		a {
			display:inline-block;
			padding-top: 12px;
			padding-bottom: 10px;
			padding-left: 25px;
			padding-right: 25px;
			border:1px solid $white;
			text-transform:uppercase;
			margin-top: 15px;
			font-size: 14px;
			color:$white;
			@extend .fading;
			font-family: 'proxima_novalight';
			margin-top: 20px;
				&:hover {
					opacity:0.5;
				}
		}
		@include breakpoint(tablet-port) {
			min-height:435px;
		}	
		@include breakpoint(laptop) {
			min-height:390px;
		}		
		@include breakpoint(phone-port) {
			padding: 20px;
			min-height:200px!important;
		}
		@include breakpoint(phone) {
			min-height:200px!important;
		}
}

/*-----  End of Left Content  ------*/


/*======================================
=            Right Content             =
======================================*/

#leftContent {
		input[type="text"] {
			padding: 10px;
			width: 100%;
			margin-bottom: 15px;
			opacity:0.5;
			@extend .fading;
				&:hover {
					opacity:1;
				}
		}
		form {
			margin-top: 15px;
		}
		input[type="submit"] {

			display: inline-block;
			padding-top: 12px;
			padding-bottom: 10px;
			padding-left: 25px;
			padding-right: 25px;
			border: 1px solid #fff;
			text-transform: uppercase;
			margin-top: 15px;
			font-size: 14px;
			color: #fff;
			opacity: 0.5;
			font-family: 'proxima_novalight';	
			background: #a44139;
			opacity:1;
			border:1px solid #87312a !important;
			width: 100%;
				&:hover {
					opacity:0.7;
				}
		}
		textarea {
			padding: 10px;
			width: 100%;
			margin-bottom: 15px;
			opacity:0.5;
			@extend .fading;
			height:150px;
			margin-bottom: 20px;
				&:hover {
					opacity:1;
				}
				@include breakpoint(tablet-port) {
					margin-bottom: 0px;
				}
		}		
		.smallInput {
			width: 49%!important;
			display:inline-block;
		}
		.verysmallInput {
			width: 35%!important;
			display:inline-block;
		}	
		small {
			width: 28%;
			text-align: center;
			display:inline-block;
			color:#fff;
		}	
		.inputRight {
			float:right;
		}

}

.nopadbottom {
	padding-bottom: 0px !important;
	@include breakpoint(phone) {
		padding-bottom: 15px !important;
	}
}

#rightContent {
	min-height:375px;
	background: url(../img/bg/white-bg.png);
	padding: 40px;
		.checkWrapper {
			margin-bottom: 15px;
				span {
					font-size: 12px;
					font-family: $bold-font;
					padding-left: 5px;
						a {
							color:$sec-color;
								&:hover {
									text-decoration:underline;
								}
						}
				}
		}
		.pagination  {
			margin: 0px !important;
			margin-top: 10px !important;
			opacity:0.5;
				a {
					&:hover {
					}
				}
		}
		input[type="text"] {
			padding: 10px;
			width: 100%;
			margin-bottom: 15px;
			opacity:0.5;
			@extend .fading;
				&:hover {
					opacity:1;
				}
		}
		textarea {
			padding: 10px;
			width: 100%;
			margin-bottom: 15px;
			opacity:0.5;
			@extend .fading;
			height:95px;
			margin-bottom: 20px;
				&:hover {
					opacity:1;
				}
				@include breakpoint(tablet-port) {
					margin-bottom: 0px;
				}

		}		
				.longTextarea {
					height: 120px!important;
				}		
		.smallInput {
			width: 49%!important;
			display:inline-block;
		}
		.inputRight {
			float:right;
		}
		p {
			margin-bottom: 25px;
			color:#247b98;
			font-size: 24px;
			@include breakpoint(phone-port) {
				font-size: 18px;
			}
			@include breakpoint(laptop) {
				font-size: 22px;
			}
			@include breakpoint(tablet-port) {
				font-size: 22px;
				line-height:27px;
			}
		}
		input[type="submit"] {
			padding: 20px;
			width: 100%;
			border:none;
			background: $sec-color;
			font-size: 18px;
			color:$white;
			border-bottom:3px solid darken($sec-color, 11);
			border-radius:9px;
			padding-top: 12px;
			padding-bottom: 12px;
				&:hover {
					opacity:1;
					background: lighten($sec-color, 11);
					border-bottom:3px solid darken($sec-color, 11);
				}
		}
		small {
			font-size: 11px;
			padding-top: 10px;
			display:block;
			color:lighten(#000, 31);
			padding-bottom: 15px;
		}
		@include breakpoint(tablet-port) {
			min-height:435px;
		}
		@include breakpoint(laptop) {
			min-height:390px;
		}		
		@include breakpoint(phone-port) {
			padding: 20px;
		}			
}

/*-----  End of Right Content   ------*/

/*==================================
=            Social Bar            =
==================================*/

#socialBar {
	text-align: right;
	padding-top: 25px;
		small {
			font-size: 14px;
			text-transform:uppercase;
			color:$white;
			opacity:0.5;
			font-family:$semi-font;
			padding-right: 10px;
				span {
					background: #fff;
					padding: 5px;
					padding-left: 10px;
					padding-right: 10px;
					color:#000;
					margin-left: 5px;
					margin-right: 5px;
					height:24px;
					width: 24px;

				}
		}
		#socials {
			display:inline-block;
				img {
					margin-right: 5px;
					margin-left: 5px;
					opacity:0.5;
					@extend .fading;
						&:hover {
							opacity:1;
						}

				}
		}

}

.navbar-fixed-bottom {
	@include breakpoint(phone) {
		position:relative;
	}
	@include breakpoint(laptop) {
		position:relative;
	}	
}

/*-----  End of Social Bar  ------*/


@media only screen and (min-width: 1250px) and (max-width:1400px) {
	.navbar-fixed-bottom {
		position:relative;
		margin-top: 40px;
	}
}

/*====================================
=            Star Wrapper            =
====================================*/

#starWrapper {
	margin-bottom: 30px;
		li {
			margin-top: 8px;
			margin-bottom: 8px;
		}
		img {
			position:relative;
			top:-2px;
		}
		span {
			padding-left: 10px;
			font-size: 14px;
			font-family: 'ralewaybold';
			@include breakpoint(phone) {
				display:block;
				padding-left: 0px;
			}
			@include breakpoint(tablet) {
				font-size: 13px;
			}
		}
		label {
			@include breakpoint(phone) {
				margin-left: 10px;
				position:relative;
				top:20px;
			}
		}
}

/*-----  End of Star Wrapper  ------*/

.longLeft {
	min-height:400px!important;
	@include breakpoint(tablet-port) {
	min-height:500px!important;
	}
	@include breakpoint(laptop) {
	min-height:450px!important;
	}	
	@include breakpoint(phone) {
		min-height:300px!important;
	}	
}

.verylongLeft {
	min-height:440px!important;
		a {
			background: #a44139;
			opacity:1!important;
			border:1px solid #87312a!important;
			width: 100%;
			text-align: center;
			padding-top: 18px!important;
			padding-bottom: 18px!important;
				&:hover {
					opacity:0.7!important;
				}
		}
		.accNotice {
			text-align: center;
			color:$white;
			display:block;
			padding-top: 5px;
			font-family:$rale-regular;
			opacity:0.5;
		}
}

.longRight {
	min-height:400px!important;
	@include breakpoint(tablet-port) {
	min-height:500px!important;
	}	
	@include breakpoint(laptop) {
	min-height:450px!important;
	}		
}

.veryLongRight {
	min-height:440px!important;
}

/*=================================
=            Share Box            =
=================================*/

.shareBox {
	text-align: center;
	margin-bottom: 20px;
		.shareText {
			text-transform:uppercase;
			font-size: 14px;
			color:$white;
			font-family: 'latobold';
		}


}

.fbIco {
	width: 128px;
	height: 128px;
	display:block;
	background: url(../img/ico/face.png);
	margin: 0 auto;
	text-indent:-9999px;
	opacity:0.6;
	@extend .fading;
	border-radius:180px;
	margin-bottom: 20px;
		&:hover {
			background-position: 0 -128px;
			opacity:1;
		}
}


.yelpIco {
	width: 128px;
	height: 128px;
	display:block;
	background: url(../img/ico/yelp.png);
	margin: 0 auto;
	text-indent:-9999px;
	opacity:0.6;
	@extend .fading;
	border-radius:180px;
	margin-bottom: 20px;
		&:hover {
			background-position: 0 -128px;
			opacity:1;
		}
}

.yellowIco {
	width: 128px;
	height: 128px;
	display:block;
	background: url(../img/ico/yellow.png);
	margin: 0 auto;
	text-indent:-9999px;
	opacity:0.6;
	@extend .fading;
	border-radius:180px;
		&:hover {
			background-position: 0 -128px;
			opacity:1;
		}
}

.googleIco {
	width: 128px;
	height: 128px;
	display:block;
	background: url(../img/ico/googleico.png);
	margin: 0 auto;
	text-indent:-9999px;
	opacity:0.6;
	@extend .fading;
	border-radius:180px;
		&:hover {
			background-position: 0 -128px;
			opacity:1;
		}
		@include breakpoint(phone) {
			margin-top: 20px;
		}
}

.nopad {
	padding: 0px;
}

.nomargin {
	margin-bottom: 0px;
}

/*-----  End of Share Box  ------*/

/*=================================
=            Thank You            =
=================================*/

#thankYou {
	text-align: center;
	padding-top: 20px;
		h6 {
			margin-top: 10px;
			font-size: 24px;
			font-family: 'proxima_nova_rgbold';
			text-transform:uppercase;
			opacity:0.5;
		}
}

/*-----  End of Thank You  ------*/

/*==================================
=            Datepicker            =
==================================*/

.ui-datepicker-header {
	padding: 3px;
}

.ui-datepicker-calendar {
	padding: 10px!important;
}

#ui-datepicker-div {
	background: #fff;
		table {
			padding: 10px;
		}

		th {
			padding: 5px;
		}
		thead {
			background: #2b80bb;
			color:#fff;
			margin: 2px;
		}
		.ui-datepicker-title {
			background: #f7f9fb;
			padding: 5px;
		}
		td {
			background: #f7f9fb;
			border:1px solid #fff;
			text-align: center;
		}
		.ui-datepicker-prev:hover {
			cursor: pointer;
		}
		.ui-datepicker-next {
			padding-left: 10px;
		}
		.ui-datepicker-next:hover {
			cursor: pointer;
		}
}

/*-----  End of Datepicker  ------*/

/*================================
=            Profiles            =
================================*/

.userProfileImage {
	img {
		border:2px solid #fff;
		border-radius:180px;
		@include breakpoint(phone) {
			margin-bottom: 20px;
		}
	}
}

.profileDetails {
	@include breakpoint(phone) {
		padding-bottom: 15px;
	}
}

.profileDetails img {
	margin-right: 3px;
	position:relative;
	top:-2px;
}

.profileArea {
	border-bottom:1px solid #d0d0de;
	padding-top: 15px;
	padding-bottom: 15px;
	span {
		display:block;
		font-size: 14px!important;
		text-transform:uppercase;
		margin: 0px !important;
		padding: 0px !important;
		font-family: 'proxima_nova_rgbold';
		color:#000;
	}
	small {
		font-size: 16px!important;
		margin: 0px !important;
		padding: 0px !important;
		margin-top: 4px !important;
		opacity:0.7;
	}
}

.nopadtop {
	padding-top: 10px !important;
}

.selectPatient {
	margin-top: 30px;
	margin-left: -40px;
		@include breakpoint(phone) { 
			margin-left: 0px;
			margin-bottom: 15px;
		}
}

/*-----  End of Profiles  ------*/

/*=============================
=            Users            =
=============================*/

.newUserBtn {
	width: 160px;
	height: 160px;
	background: #000;
	text-align: center;
	font-size: 16px;
	text-transform:uppercase;
	display:block;
	line-height:160px;
	border-radius:180px;
	margin: 0px auto;
	margin-top: 30px;
	background: #3096b8;
	color:#fff;
		&:hover {
			opacity:0.7;
			color:#fff;
		}
}

.existingUserBtn {
	width: 160px;
	height: 160px;
	background: #000;
	text-align: center;
	font-size: 16px;
	text-transform:uppercase;
	display:block;
	line-height:160px;
	border-radius:180px;
	margin: 0px auto;
	margin-top: 30px;
	background: #a44139;
	color:#fff;
		&:hover {
			opacity:0.7;
			color:#fff;
		}	
}

/*-----  End of Users  ------*/

.view a {
	width: 100%;
	height: 100%;
	background: none!important;
	display:block;
	text-indent:-9999px;
	font-size: 1px;
}

.modal {
	background: url(../img/bg/blue.png);
}

.checkbox-inline {
	padding-left: 0px !important;
}