// Effects
.fading {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

// Uppercase
.uppercase {
	text-transform:uppercase;
}

// Shadows 
.smallShadow {
	-webkit-box-shadow: 0px -2px 29px 0px rgba(50, 50, 50, 0.15);
	-moz-box-shadow:    0px -2px 29px 0px rgba(50, 50, 50, 0.15);
	box-shadow:         0px -2px 29px 0px rgba(50, 50, 50, 0.15);	
}

