// Colors
$color-white: #fff;
$color-black: #000;

// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Effects
$opaque : 0.7;


// fonts
$nova-regular: 'proxima_nova_rgregular';
$nova-bold: 'proxima_nova_rgbold';
$rale-bold: 'ralewaybold';
$rale-regular: 'ralewayregular';